/Math003_GaussJacobi_1iters_fixedStep/
/Math003_GaussSeidel_1iters_fixedStep/
/Math003_GaussSeidel_2iters_adaptive/
/Math003_GaussSeidel_2iters_adaptive_Richardson/
/Math003_GaussSeidel_2iters_fixedStep/
*.sh
